html,
body{
    height: 100%;
}

body{
    height: auto;
    background-color:#252a34;
    background-image: linear-gradient(to top, #ff2e63, #252a34);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width:420px){
    body{
     overflow-x:hidden;
    }
 
     
 }