.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom:138px;
  padding-left: 60px;
}

.header-store > .title {
  float: left;
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
  cursor:pointer;
}

.header-store > .navigation {
  
  float: right;
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  
}

.header-store .list{
  display: inline-block;
}
.header-store .item.-menu{
  display: none;
 
}
.header-store .item{
  display:inline-block;
  margin-right: 60px;
  padding-bottom:10px;

}

.header-store .action {
  text-decoration: none;
  color: inherit;
  position: relative;
 
}


.header-store .item.-last {
  margin-right: 0;
}

.header-store .action:after{
  content:'';
  position: absolute; /*O position absolute faz com que o elemento
  after,que por padrão é display inline,seja computado como display Block!
  Assim é possivel setar altura e largura*/
  bottom:0;
  left:0; 
  height: 1px;
  width:100%;
  background-color:white;
  transform:scaleX(0);
  transition:transform 200ms linear;
  transform-origin: center left;
}
.header-store .action:hover:after{
  transform:scaleX(1);
}
@media(max-width:1350px){
  .header-store{
    padding-right: 60px;
    margin-bottom:80px;
  }
}
@media (max-width:1235px){
  .header-store > .title{
    float :none;
    text-align: center;
    margin-bottom: 20px;
  }
  .header-store > .navigation{
    float: none;
    text-align: center;
     
    
  }
}

@media (max-width:1020px){
  .header-store{
      padding-left: 30px;
      padding-right: 30px
  }
  
  .header-store .item{
    margin-right: 35px;
  }
  
} 


@media(max-width:540px){
  .header-store{
    padding-left: 16px;
    padding-right: 16px;
}
.header-store .item{
  margin-right: 20px;
}
}

@media(max-width:420px){
  .header-store .item.-menu{
    margin-right: 0;
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    background: url(../img/menu.svg) #fff no-repeat center;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    transform: translateX(-100%);
    transition:transform 200ms 100ms linear;
  }

  .header-store .list{
    text-align: none;
      background-color: #fff;
      color: black;
      position: absolute;
      width:100vw;
      top:0;
      right:0;
      padding:40px 0 20px;
      transform: translateX(100%); 
      transition: transform 200ms linear;
  }
 
  .header-store .list.-active{
    transform:translateX(0%);
  }
  .header-store .list.-active .item.-menu{
    transition:none;
    background: url(../img/close.svg) #fff no-repeat center;
    transform: translateX(50%);
    
  }
  
  .header-store .item{
    display: block;
  }
  
}